/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Set a dark background color */
  color: #fff; /* Set text color to white */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


header {
  padding-bottom: 20px;
}
.btn-image {
  background: url("/images/upload.png") no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
  width: 48px; /* Adjust the width and height as needed */
  height: 48px;
}
.bg-light-purple {
  box-shadow: 0 1px 3px #f3d8f2, 0 1px 2px #f3d8f2;

  background-color: #9966CC	; /* Light purple color */
}


main {
  background-color: rgba(218, 234, 223, 0.8);
  padding: 20px;
}

h1 {
  color: #ffffff;
  font-size: 24px;
}

h2 {
  color: #ffffff;
  font-size: 28px;
}

p {
  color: #666666;
  font-size: 16px;
}

.dark-theme {
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
}


.online {
  position: relative;
}
.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}
.card {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 2%;
  box-shadow: 0 1px 3px #DA70D6, 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-header {
  padding: 8px 16px;
}

.card-body {
  padding: 16px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 16px;
}

.card-footer {
  padding: 8px 16px;
}

.card-footer .collapse {
  padding-top: 8px;
}

.card-footer .collapse .d-flex:not(:last-child) {
  margin-bottom: 8px;
}

.card-footer .comment-content {
  margin-top: 8px;
}
.btn {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn i {
  margin-right: 0.25rem;
}

.btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #121212;
}

.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}
/* .right-sidebar{
flex-basis: 25%;
position: sticky;
top: 70px;
align-self: flex-start;
background: var(--bg-color);
padding: 20px;
border-radius: 4px;
color: #626262;

} */
.main-content {
  flex-basis: 47%;
}
.imp-links a,
.shortcut-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}
.imp-links a img {
  width: 25px;
  margin-right: 15px;
}
.imp-links a:last-child {
  color: #76f218;
}
.imp-links {
  border-bottom: 1px solid #ccc;
}
.shortcut-link a img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}

.shortcut-link p {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
}
.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.sidebar-title h4 {
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a {
  text-decoration: none;
  color: #d1f218;
  font-size: 12px;
}
.event {
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
}
.left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p {
  font-size: 12px;
}
.event a {
  font-size: 12px;
  text-decoration: none;
  color: #b4f218;
}
.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: #fff;
  padding: 4px 0;
}
.siderbar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.online-list .online img {
  width: 40px;
  border-radius: 50%;
}
.online-list .online {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.online-list .online::after {
  top: unset;
  bottom: 5px;
}
.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.write-post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 50px;
  color: #626262;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile small {
  font-size: 12px;
}
.post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}
.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
}
.add-post-links {
  display: flex;
  margin-top: 10px;
}
.add-post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}
.add-post-links a img {
  width: 20px;
  margin-right: 10px;
}
.post-container {
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #111010;
  margin: 20px 0;
}
.user-profile span {
  font-size: 13px;
  color: #1c1b1b;
}
.post-text {
  color: #060606;
  margin: 15px 0;
  font-size: 15px;
}
.post-text span {
  color: #0e0c0c;
  font-weight: 500;
}
.post-text a {
  color: #08090a;
  text-decoration: none;
}
.post-img {
  width: 50%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-icons div img {
  width: 18px;
  margin-right: 10px;
}
.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.post-porfile-icon {
  display: flex;
  align-items: center;
}
.post-porfile-icon img {
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.post-row a {
  color: #9a9a9a;
}
.load-more-btn {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;
}
.footer {
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 13px;
}
.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;
}
.settings-menu-height {
  max-height: 450px;
}
.user-profile a {
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}
.settings-menu-inner {
  padding: 20px;
}
.settings-menu hr {
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;
}
.settings-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.settings-links .settings-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.settings-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}
#dark-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 10px 6px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark.btn span {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 60%;
  display: inline-flex;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #0a0a0a;
}
/*---------------Profile page-----------------*/
.pofile-container {
  padding: 20px 15%;
  color: #626262;
}
.cover-img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 14px;
}
.profile-details {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.pd-row {
  display: flex;
  align-items: flex-start;
}
.pd-image {
  width: 100px;
  margin-right: 20px;
  border-radius: 6px;
}
.pd-row div h3 {
  font-size: 25px;
  font-weight: 600;
}
.pd-row div p {
  font-size: 13px;
}
.pd-row div img {
  width: 25px;
  border-radius: 50%;
  margin-top: 12px;
}
.pd-right button {
  background: #1876f2;
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}
.pd-right button img {
  height: 15px;
  margin-right: 10px;
}
.pd-right button:first-child {
  background: #e4e6eb;
  color: #000;
}
.pd-right {
  text-align: right;
}
.pd-right a {
  background: #e4e6eb;
  border-radius: 3px;
  padding: 12px;
  display: inline-flex;
  margin-top: 30px;
}
.pd-right a img {
  width: 20px;
}
.profile-info {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
.info-col {
  flex-basis: 33%;
}
.post-col {
  flex-basis: 65%;
}
.profile-intro {
  background: var(--bg-color);
  padding: 20px;
  margin-right: 20px;
  border-radius: 4px;
}
.profile-info h3 {
  font-weight: 600;
}
.intro-text {
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
}
.intro-text img {
  width: 15px;
  margin-bottom: -3px;
}
.profile-intro hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 24px 0;
}
.profile-info ul li {
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.profile-info ul li img {
  width: 26px;
  margin-right: 10px;
}
.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box a {
  text-decoration: none;
  color: #e7e9dd;
  font-size: 14px;
}
.photo-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}
.photo-box div img {
  width: 100%;
  cursor: pointer;
}
.profile-intro p {
  font-size: 14px;
}
.friends-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}
.friends-box div img {
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;
}
.friends-box div {
  position: relative;
}
.friends-box p {
  position: absolute;
  bottom: 0;
  left: 0;
}
ul li{
  color: #d3d3d3;
}
/*----------------- Media Query For Home Page -----------------*/

@media (max-width: 900px) {
  .right-sidebar {
    display: none;
  }
  .left-sidebar {
    display: none;
  }
  nav {
    flex-wrap: wrap;
  }
  .search-box {
    display: none;
  }
  .nav-left ul li img {
    width: 20px;
    margin: 0 8px;
  }
  .nav-user-icon img {
    width: 30px;
  }
  .nav-user-icon {
    margin-left: 0;
  }
  .add-post-links {
    flex-wrap: wrap;
  }
  .main-content {
    flex-basis: 100%;
  }

  .story.story1 img {
    width: 25px;
    bottom: 30px;
  }
  .add-post-links a {
    margin-right: 12px;
    font-size: 9px;
  }
  .add-post-links a img {
    width: 16px;
    margin-right: 5px;
  }
  .post-input-container {
    padding-left: 0;
  }
}
/*----------------------- Media Query For Profile Page------------------------*/
@media (max-width: 900px) {
  .pofile-container {
    padding: 20px 5%;
  }
  .profile-details {
    flex-wrap: wrap;
  }
  .pd-right {
    text-align: left;
    margin-top: 15px;
  }
  .pd-right button {
    margin-left: 0;
    margin-right: 10px;
  }
  .pd-row div h3 {
    font-size: 16px;
  }
  .profile-info {
    flex-wrap: wrap;
  }
  .info-col,
  .post-col {
    flex-basis: 100%;
  }
}

.post-box {
  width: 25vw;
  height: 400px;
  border: solid rgba(252, 255, 232, 0.76);
  background: transparent;
  display: inline-block;
  margin: 8vh 10vw;
  box-shadow: 0 0 45px 0 rgb(227, 229, 204);
  padding: 100px 70px;
  display: flex;
  animation: slideIn 2s ease-in-out forwards;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post-box .font {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #d3d3d3;
  font-size: 1rem;
  animation: text-load 300ms ease-in 600ms;
  animation-timing-function: ease-in;
  animation-delay: var(300ms);
}
.post-box .font h4 {
  font-weight: 200px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  margin: 20px 40px;
  top: 8%;
}
.textbox {
  margin-bottom: 10%;
  margin-left: 25px;
  padding: 5px 20px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d3d3d3;
  box-shadow: 0 0 15px 0 rgb(227, 229, 204);
}
.textbox input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 25px;
  background-color: #d3d3d3;
}
.textbox :hover {
  box-shadow: 0 0 80px 0 #d3d3d3, 0 0 80px 0 #d3d3d3, 0 0 90px 0 #d3d3d3 inset;
  background-color: #d3d3d3;
}
button {
  width: 150px;
  height: 50px;
  padding: 15px 15px;
  border-radius: 2%;
  background-color: transparent;
  border: double #d3d3d3 1px;
  cursor: pointer;
  color: #d3d3d3;
  font-weight: 200;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  transition-duration: 0.4s;
  box-shadow: 0 0 15px 0 white;
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(300ms);
  animation-fill-mode: forwards;
  transform: scale(1.1);
  margin-left: 10px;
}
button:hover {
  background-color: #eeeed0;
  color: black;
}
.button:active {
  background-color: transparent;
  color: #d3d3d3;
  box-shadow: 0 0 80px 0 #d3d3d3, 0 0 80px 0 #d3d3d3, 0 0 90px 0 #d3d3d3 inset;
}

/* styles for screens smaller than 600px */
@media (min-width: 500px) {
  button {
    height: 50px;
    width: 230px;
  }
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* Center align the categories */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color:#d3d3d3;
  /* Set the color to black */
  text-decoration: none;
  font-size: 20px;
  /* Increase the font size */
  font-weight: bold;
}

nav ul li a img {
  width: 50px;
  /* Adjust the width of the icon */
  height: 50px;
  /* Adjust the height of the icon */
  margin-bottom: -20px;

}

nav ul li a span {
  font-size: 14px;
  /* Adjust the font size of the text */
  margin-top: 5px;
  /* Adjust the spacing between the icon and the text */
}