<div class="container">
  <%- include('../profile/userDetails') %>
  <br/>
  <%- include('../layout/nav') %>
  <br/>
  <br/>
    <%- include('./addPost') %>
    <br />
    <%- include('./posts') %>
  </div>
</div>
