<div class="row m-5 d-flex justify-content-center">
  <div class="card p-0 m-0 bg-dark text-white">
    <div class="card-header bg-success">
      <h5 class="card-title m-2">Create New Post</h5>
    </div>
    <div class="card-body bg-dark w-100">
      <form
        action="/post/add"
        method="post"
        enctype="multipart/form-data"
        class="m-2"
      >
        <input
          type="hidden"
          name="userId"
          value="<%= locals.req.session.userId %>"
        />
        <div class="form-group row">
          <label for="title" class="col-3">Post Title</label>
          <div class="col-9">
            <input
              name="title"
              type="text"
              class="form-control"
              id="title"
              placeholder="Post title"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="content" class="col-3">Content</label>
          <div class="col-9">
            <textarea
              name="data"
              class="form-control"
              id="content"
              placeholder="Post content"
              rows="5"
              cols="5"
            ></textarea>
          </div>
        </div>
        <div class="form-group row my-2">
          <label for="title" class="col-3">Upload Image</label>
          <div class="col-9">
            <input
              name="post-image"
              type="file"
              class="form-control-file"
              id="title"
              placeholder="Post title"
            />
          </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary btn-image">
          <img src="/images/upload.png" alt="Submit" />

        </button>
      </form>
    </div>
  </div>
</div>
