<div class="bg-img">

  <section class="intro">
    <div class="container">
      <h1>Welcome to Health Connect</h1>

      <p>We provide high quality services for All your needs.</p>

      <!-- <button class="btn btn-primary">Learn More</button> -->
      <button class="btn">
        <a href="/login">Login</a>
      </button>
      <button class="btn">
        <a href="/register">Sign-Up</a>
      </button>
      
    </div>
  </section>
</div>
