/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(rekaH.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center align the content */
  }
  
  header {
    padding-bottom: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center align the categories */
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #000000; /* Set the color to black */
    text-decoration: none;
    font-size: 20px; /* Increase the font size */
    font-weight: bold;
  }
  
nav ul li a img {
    width: 80px; /* Adjust the width of the icon */
    height: 80px; /* Adjust the height of the icon */
    margin-bottom: -20px; 
  
  }
  
nav ul li a span {
    font-size: 14px; /* Adjust the font size of the text */
    margin-top: 5px; /* Adjust the spacing between the icon and the text */
  }

  main {
    background-color: rgba(113, 183, 134, 0.8);
    padding: 40px;
  }
  
  h1 {
    color: #ffffff;
    font-size: 24px;
  }
  
  h2 {
    color: #333333;
    font-size: 28px;
  }
  
  p {
    color: #666666;
    font-size: 16px;
  }
  
  
  /* styles.css */
.container {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
  }
  
  .intro-text {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .mission {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .journey {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .features {
    margin-top: 50px;
  }
  
  .features h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  
  .invitation {
    font-size: 18px;
    margin-top: 50px;
  }
  
  .team {
    font-size: 16px;
    margin-top: 50px;
    line-height: 1.5;
  }
  