<!DOCTYPE html>
<html>
<head>
  <title>Contact Page</title>
  <link rel="stylesheet" type="text/css" href="contact.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Contact Page</h1>
      <nav>
        <ul>
          <li><a href="home.ejs"><img src="Images/iconHome.png" alt="Home"><span>Home</span></a></li>
          <li><a href="contact.ejs"><img src="Images/conntect.png" alt="Contact"><span>Contact</span></a></li>
          <li><a href="aboutAs.ejs"><img src="Images/about.png" alt="About"><span>About the Site</span></a></li>
          <li><a href="personalArea.ejs"><img src="Images/profile.png" alt="Profile"><span>Personal Profile</span></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>#Contact Options#</h2>
      <div class="contact-options">
        <div class="contact-option">
          <a href="https://wa.me/1234567890" target="_blank">
            <img src="Images/whattsap.png" alt="WhatsApp">
            <span>Contact via WhatsApp</span>
          </a>
        </div>
        <div class="contact-option">
          <img src="Images/phon.png" alt="Phone">
          <span>Call us at: 08-64141414/052-2702495
          </span>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
