<!DOCTYPE html>
<html>
<head>
  <title>HealthConnect</title>
  <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>HealthConnect</h1>
      <nav>
        <ul>
          <li><a href="home.html"><img src="Images/iconHome.png" alt="Home"> Home</a></li>
          <li><a href="contact.html"><img src="Images/conntect.png" alt="Contact"> Contact</a></li>
          <li><a href="aboutAs.html"><img src="Images/about.png" alt="About Us"> About the Site</a></li>
          <li><a href="personalArea.html"><img src="Images/profile.png" alt=" Profile"> Personal Profile</a></li>
        </ul>

      </nav>
    </header>
    <main>
      <form id="postForm">
        <textarea class="text-box" rows="3" cols="50" placeholder="            
                 Write your post here          "></textarea>
        <button type="submit">Post</button>
          <style>
            .text-box {
              width: 400px; /* Adjust the width value as per your preference */
            }
          </style>

      </form>
      <h2>Welcome to HealthConnect</h2>
      <p>Empowering your health journey through shared experiences.</p>
    </main>
  </div>
</body>
</html>
