<!DOCTYPE html>
<html>
<head>
  <title>HealthConnect</title>
  <link rel="stylesheet" type="text/css" href="personalArea.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>HealthConnect</h1>
      <nav>
        <ul>
          <li><a href="home.ejs"><img src="Images/iconHome.png" alt="Home"> Home</a></li>
          <li><a href="contact.ejs"><img src="Images/conntect.png" alt="Contact"> Contact</a></li>
          <li><a href="aboutAs.ejs"><img src="Images/about.png" alt="About Us"> About the Site</a></li>
          <li><a href="personalArea.ejs"><img src="Images/profile.png" alt=" Profile"> Personal Profile</a></li>
        </ul>

      </nav>
    </header>

    <main>
      <div class="profile-icons">
        <div>
          <a href="#"><img src="Images/like.png" alt="Like Icon"></a>
          <p>Like</p>
        </div>
        <div>
          <a href="#"><img src="Images/saved.png" alt="Saved Icon"></a>
          <p>Saved</p>
        </div>
        <div>
          <a href="#"><img src="Images/followers.png" alt="Followers Icon"></a>
          <p>Followers</p>
        </div>
      </div>
    </main>

</body>
</html>
