<nav>
  <div class="logo">
    <ul>
      <li>
        <a href="/home">
          <img src="/images/icons8-home-50.png" alt="Home" />
          <span style="font-size: 14px; font-weight: lighter;">Home</span>
        </a>
      </li>
      <li>
        <a href="/contact">
          <img src="/images/icons8-contact-us-50.png" alt="Contact" />
          <span style="font-size: 14px; font-weight: lighter;">Contact</span>
        </a>
      </li>
      <li>
        <a href="/aboutUs">
          <img src="/images/icons8-about-us-50.png" alt="About Us" />
          <span style="font-size: 14px; font-weight: lighter;">About&nbsp;the&nbsp;Site</span>
        </a>
      </li>
      <li>
        <a href="/personalArea/view">
          <img src="/images/icons8-user-default-50.png" alt="Profile" />
          <span style="font-size: 14px; font-weight: lighter;">Personal&nbsp;Profile</span>
        </a>
      </li>
    </ul>
    <br/>
    <hr />

  </div>
</nav>
