<nav>
  <div class="logo">
    <h1>Health&nbsp;Connect</h1>
    <br />
    <ul>
      <li>
        <a href="/home"><img src="/images/iconHome.png" alt="Home" /> Home</a>
      </li>
      <li>
        <a href="/contact"
          ><img src="/images/conntect.png" alt="Contact" /> Contact</a
        >
      </li>
      <li>
        <a href="/aboutUs"
          ><img src="/images/about.png" alt="About Us" />
          About&nbsp;the&nbsp;Site</a
        >
      </li>
      <li>
        <a href="/personalArea/view"
          ><img src="/images/profile.png" alt=" Profile" />
          Personal&nbsp;Profile</a
        >
      </li>
    </ul>
  </div>
</nav>
